{% extends '@np-admin/panel.twig' %}

{% block panel_nav %}
    {{ panel_nav([{name: 'Blog', uri: path('admin_blog')},{name: 'Settings'}]) }}
{% endblock %}

{% block panel_actions %}
    <div class="btn-group">
        <a href="#" class="btn btn-default">Restore Defaults</a>
    </div>
{% endblock %}

{% block panel_content %}
    <h2>TODO</h2>
{% endblock %}