{% extends '@np-admin/panel.twig' %}

{% block panel_nav %}Extensions{% endblock %}

{% block panel_content %}
    {% for name, extension in extensions %}
        <h2>{{ name }}</h2>
        <p>Active?</p>
        <p>Core?</p>
        <h3>Toolbar Items</h3>
        <h3>Block Types</h3>
    {% endfor %}
{% endblock %}