{% extends '@np-admin/panel.twig' %}

{% block panel_nav %}
    {{ panel_nav([{'uri': path('admin_sites'), 'name': 'Sites'},{'name': site.hostName}]) }}
{% endblock %}

{% block panel_content %}
    <ul>
        {% for k,v in site %}
            <li>{{ k }}: {{ v }}</li>
        {% endfor %}
    </ul>
{% endblock %}