.np_login
  background: #999
  form
    @include np_fonts
    @include border-radius
    background: #666
    border: 2px solid #333
    color: #333
    width: 500px
    margin: 175px auto 0
    padding: 0
  header
    background: #333
    height: 120px
    position: relative
  h1
    color: #fff
    margin: 0
    position: absolute
    top: 35px
    left: 40px
    font-size: 18px
  .flash_msg
    background: $ui_accent_color
    position: absolute
    bottom: 0
    padding: 8px 0
    width: 100%
    text-indent: 80px
    &.err
      background-color: $warning_color
  .form_body
    padding: 30px 80px 60px
    position: relative

  input[type="text"],
  input[type="password"]
    margin-bottom: 25px
    width: 340px
    border: 1px solid #333

  input[type="submit"]
    float: right