.np_panel
  margin-top: 30px
  
  .np_panel_heading
    border: 4px solid $ui_main_color
    +border_top_radius(7px)
    background-color: $ui_main_color
    padding-top: 6px
    padding-bottom: 6px

  .np_panel_heading, .np_panel_heading h3
    color: #fff
    position: relative

  .panel-title
    // breadcrumb separator
    i.fa
      padding: 0 10px
    a:hover
      color: $ui_accent_color

  .np_panel_body
    border: 4px solid $ui_main_color
    border-top: none
    background-color: #EEEFF3
    +border_bottom_radius(7px)
    padding-top: 15px
    padding-bottom: 15px
    min-height: 200px

  .np_panel_actions
    width: 100%
    margin-bottom: 20px
    +clearfix
    .btn-group
      float: right

  .np_form_actions
    float: right

  a.np_close_panel
    color: #fff
    position: absolute
    right: 6px
    top: 3px
    &:hover
      color: $ui_accent_color
      text-decoration: none
      +transition
    i.fa
      font-size: 1.5em