.np_sm
  width: 70%
  margin-bottom: 0
  // nested items
  ul
    display: none
    margin-left: 20px
    padding-bottom: 10px

.np_sm_node
  padding: 3px 0

.np_sm_node_last
  margin-bottom: 5px

.np_sm_node_no_chilren,
.np_sm_add
  padding-left: 25px

// hide actions until hover

.np_sm_actions
  display: none

.np_sm_node:hover
  background-color: $panel_hover
  > .np_sm_actions
    display: block
    float: right
    margin-right: 5px

.np_sm_node_active
  background: $np_green
  color: #fff
