// compass defaults
$default-border-radius: 5px
$default-transition-duration : 0.5s

$np_green:        #66ff66
$np_grey:         #414141
$ui_main_color:   $np_grey
$ui_accent_color: $np_green
$warning_color:   red
$link_color:      $ui_accent_color
$icon_height:     40px
$toolbar_height:  75px

// bootstrap colors

$brand-primary: $np_green
$brand-success: $np_green
//$brand-warning: #f0ad4e
//$brand-danger:  #d9534f
//$brand-info:    #5bc0de

$panel-bg:                    #EEEFF0
$panel-inner-border:          $ui_main_color
$panel-border-radius:         6px
$panel-default-border:        $ui_main_color
$panel-default-heading-bg:    $ui_main_color