<script type="text/html" id="np_block_actions_temp">
    <ul class="nav nav-list">
        <li><a href="/admin/blocks/<%= id %>/edit" data-panel="open"><i class="icon-pencil"></i> Edit</a></li>
        <li><a href="/admin/blocks/<%= id %>/move"><i class="icon-move"></i> Move</a></li>
        <li><a href="/admin/blocks/<%= id %>/delete"><i class="icon-trash"></i> Delete</a></li>
    </ul>
</script>