{% extends '@np-admin/panel.twig' %}

{% block panel_row %}
    <div class="row">
        <div class="col-md-6">
            {% block column_1 %}{% endblock %}
        </div>
        <div class="col-md-6">
            {% block column_2 %}{% endblock %}
        </div>
    </div>
{% endblock %}