{% extends '@np-admin/panel.twig' %}

{% block nav %}{{ nav }}{% endblock %}

{% block content %}
<!-- root element for scrollable -->
<div class="scrollable_container" data-js="scrollable">
  <!-- root element for the items -->
  <div class="scrollable_items_container" data-js="scrollable_items">
    {% for pane in panes %}
      <div data-nav-name="{{ pane.nav }}" data-nav-url="foo">
        {{ pane.content }}
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}