{% extends '@default/layout_sidebar.twig' %}

{% block page_title %}
    {% if tag is defined %}
        <header>
            <h1 class="page_title">Posts tagged with: <span class="tag_name">{{ tag }}</span></h1>
        </header>
    {% endif %}
{% endblock %}

{% block main %}
    {% for post in posts %}
        {% include '@default/_post.twig' with {'post': post, 'standalone': false} %}
    {% else %}
        <p><strong>No posts were found{% if tag is defined %} for tag: {{ tag }}{% endif %}.</strong></p>
    {% endfor %}

    {% if pageCount is defined and pageCount > 1 %}
        <p class="post_nav">
            {% if pageNumber is defined and pageNumber < pageCount %}
                <a href="{{ path('blog_get_paged_posts', {page: pageNumber + 1}) }}" class="post_prev" title="Older Posts">&larr; Older Posts</a>
            {% endif %}
            {% if pageNumber is defined and pageNumber > 1 %}
                <a href="{{ previous_page_link(pageNumber) }}" class="post_next" title="Newer Posts">Newer Posts &rarr;</a>
            {% endif %}
        </p>
    {% endif %}
{% endblock %}